<!doctype html>
<html>
  <head>
    <title>Ivan lavriv</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/"><b>Ivan Lavriv</b></a>`s
          personal blog
      </div>
      <div class="navigation">
        <ul>
          <li><a href="{{ url_for('core.home') }}">home</a></li>
          <li><a href="{{ url_for('blog.posts') }}">blog</a></li>
          <li><a href="{{ url_for('blog.archive') }}">archive</a></li>
        </ul>
      </div>
      <div class="body">
        {% block content %}
        {% endblock content %}
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
