<!doctype html>
<html>
  <head>
   <title>Site | Login</title>
   <link href="{{ url_for('static', filename='libs/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="navbar">
            <h1 class="page-header">Login</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row page-header">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">{% block content %}{% endblock content %}</div>
        <div class="col-xs-4"></div>
      </div>
    </div>
  </body>
</html>
