<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Blog | Admin</title>
    <link href="{{ url_for('static', filename='libs/bootstrap/dist/css/bootstrap.css') }}" 
          rel="stylesheet"
    />
    <link href="{{ url_for('static', filename='libs/fontawesome/css/font-awesome.css') }}"
          rel="stylesheet"/>
    <link href="{{ url_for('static', filename='libs/summernote/dist/summernote.css') }}"
          rel="stylesheet"/>
    <link href="{{ url_for('static', filename='libs/codemirror/lib/codemirror.css') }}" 
          rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet" />
  </head>
  <body>
      <div class="container" id="header">
        <div class="row">
            <div class="col-xs-10">
                <h1>Admin</h1>
            </div>
            <div class="col-xs-2">
                <a class="btn btn-success pull-right" href="{{ url_for('account.logout') }}">Logout</a>
            </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-2">
            {% include 'layouts/menu.html' %}
          </div>
          <div class="col-xs-10">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </div>
      <script src="{{ url_for('static', filename='libs/jquery/dist/jquery.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/summernote/dist/summernote.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/codemirror/lib/codemirror.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/codemirror/mode/javascript/javascript.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/codemirror/mode/python/python.js') }}"></script>

      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
