{% extends 'layouts/base_login.html' %}

{% block content %}
<div class="login centered">
  <form method="post" role="form">
      {{ form.csrf_token }}
    <div class="form-group">
      {{ form.username(class="form-control", placeholder="Username") }}
      <div>
      {% for error in form.username.errors %}
        <small class="err">{{ error }}</small>
      {% endfor %}
      </div>
    </div>
    <div class="form-group">
      {{ form.password(size="20", class="form-control", placeholder="Password") }}
      <div>
      {% for error in form.password.errors %}
        <small class="err">{{ error }}</small>
      {% endfor %}
      </div>
    </div>
    <div class="field-group">
      <button class="btn btn-success">Login</button>
    </div>
  </form>
</div>
{% endblock content %}
