{% extends 'layouts/base_site.html' %}

{% block content %}
{% for year in dates %}
    <div>
        <strong><a href="{{ url_for('blog.archive_posts', year=year) }}">{{ year }}</a></strong>
    </div>
    <ul>
        {% for month in dates[year] %}
        <li><a href="{{ url_for('blog.archive_posts', year=year, month=month) }}">{{ month|month_name }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}
