{% extends 'layouts/base_site.html' %}

{% block content %}
<div class="post">
    <div class="post-title">
        <span>{{ post.title | title }}</span>
    </div>
    <div>
        <p>{{ post.content | safe }}</p>
    </div>
</div>
{% endblock content %}
