{% extends 'layouts/base_site.html' %}

{% block content %}

<div class="posts">
  {% for item in query.items %}
    <div class="post">
        <div class="post-title">
            <a href="{{ url_for('blog.post_details', post_slug=item.slug) }}">
                {{ item.title }}
            </a>
        </div>
        <div class="post-content">
          {{ item.content|striptags|truncate(320)}}
          <a href="{{ url_for('blog.post_details', post_slug=item.slug) }}">Read more</a>
        </div>
    </div>
  {% endfor %}
</div>
<div class="pagination centered">
  {% for page in query.iter_pages() %}
    {% if page %}
      {% if page != query.page %}
      <a href="?page={{ page }}">{{ page }}</a>
      {% else %}
        <span>{{ page }}</span>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
{% endblock content %}
