@import "https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic";
@import "http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic,300,300italic&subset=latin,latin-ext";
@import "http://fonts.googleapis.com/css?family=IM+Fell+English:400italic&subset=latin,latin-ext";

body {
  color: #000000;
  font: 300 17px/25px "Merriweather",serif;
}

.container {
  max-width: 900px;
  margin: 48px auto;
}

div.header {
  float: left;
}

div.header, div.navigation {
  height: 25px;
  margin-bottom: 42px;
  display: inline-block;
}
        
div.navigation {
  float: right;
}

a {
 color: black;
}

a:hover {
  text-decoration: none;
}

div.navigation ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
            
div.navigation ul li {
 display: inline;
 margin: 0 2px;
 padding: 0;
}

div.body {
  clear: both;
}

div.avatar {
  text-align: center;
}

img.personal-photo {
  margin: 0;
  width: 200px;
  border-radius: 10px;
}

.post {  
  margin-bottom: 20px;
}

.centered {
  text-align: center;    
}

.post .post-title {
    margin-bottom: 10px;
}
