{% extends 'layouts/base_admin.html' %}

{% block content %}


<div class="row">
    <form method="post" role="form"> 
      <h2>New post</h2>

      {{ form.csrf_token }}  
      <div class="form-group">
         {{ form.title(size=80, placeholder='Title', class='form-control') }}
         {% for error in form.title.errors %}
         <div>
           <small class="err">{{ error }}</small>
         </div>
         {% endfor %}
      </div>
      <div class="form-group">
        {{ form.content(class='form-control', placeholder='Content') }}
        {% for error in form.content.errors %}
        <div>
          <small class="err">{{ error }}</small>
        </div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.slug(class='form-control', placeholder='Slug') }}
        {% for error in form.slug.errors %}
        <div>
          <small class="err">{{ error }}</small>
        </div>
        {% endfor %}
      </div>
      <div class="form-group">
      <div>{{ form.is_published() }}</div>
      <div class="pull-right">
          <input class="btn btn-success" type="submit" />
      </div>
    </form>
</div>
{% endblock content %}
