{% extends 'layouts/base_admin.html' %}

{% block content %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Content</th>
          <th>Slug</th>
          <th>Is published</th>
          <th>Published date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.content|striptags|truncate(300) }}</td>
          <td>{{ post.slug }}</td>
          <td>{{ post.is_published }}</td>
          <td>{{ post.published_date }}</td>
          <td>
              <div>
                <a href="{{ url_for('admin.update_post', post_id=post.id) }}">Update</a>
              </div>
              <div>
                <a href="{{ url_for('admin.delete_post', post_id=post.id) }}">Delete</a>
              </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
