{% extends 'layouts/base_admin.html' %}

{% block content %}


<div>
    <form method="post" role="form">
      <h2>Update post</h2>
      {{ form.csrf_token }}  
      <div class="form-group">
         {{ form.title(size=80, class='form-control', value=post.title) }}
         {% for error in form.title.errors %}
         <div>
           <small class="err">{{ error }}</small>
         </div>
         {% endfor %}
      </div>
      <div class="form-group">
          {{ form.content(row=40, class='form-control', value=post.content) }}
        {% for error in form.content.errors %}
        <div>
          <small class="err">{{ error }}</small>
        </div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.slug(size=80, class='form-control', value=post.slug) }}
        {% for error in form.slug.errors %}
        <div>
          <small class="err">{{ error }}</small>
        </div>
        {% endfor %}
      </div>
      <div>{{ form.is_published(value=post.is_published) }}</div>
      <div class="pull-right"> 
          <input class="btn btn-success" type="submit" />
      </div>
    </form>
</div>
{% endblock content %}
