{% extends 'layouts/base_site.html' %}

{% block content %}

<div class="avatar"><img src="static/img/avatar.jpg" class="personal-photo"></div>
<p>I`m developer on python and JavaScript. I`m currently working as django developer at <a href="http://remit.se">REMIT.ltd</a> and volontier teacher, web branch coordinator in <a href="http://pllug.org">PLLUG community</a>.
My currently location in Lviv, Ukraine.</p>

<p>
  <b>Contacts</b>

  <ul>
    <li><a href="https://www.facebook.com/ivan.lavriv">Facebook</a></li>
    <li><a href="https://twitter.com/ilavriv">Twitter</a></li>
    <li><a href="https://github.com/lavriv92">Github</a></li>
  </ul>
</p>
{% endblock content %}
